In [ ]:
# Import Sframes

In [1]:
import sframe

[INFO] Using MetricMock instead of real metrics, mode is: QA

In [3]:
sf = sframe.SFrame('people-example.csv')

[INFO] Start server at: ipc:///tmp/graphlab_server-25091 - Server binary: /usr/local/lib/python2.7/dist-packages/sframe/unity_server - Server log: /tmp/sframe_server_1448664739.log
[INFO] GraphLab Server Version: 1.6

PROGRESS: Finished parsing file /home/rad/Dropbox/Coursera/machine_learning_UW/week1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.0144 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/rad/Dropbox/Coursera/machine_learning_UW/week1/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.014475 secs.

In [4]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
sf.

<bound method SFrame.show of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>

In [13]:
sf['Country'].show

<bound method SArray.show of dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']>

In [14]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [15]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [16]:
sf['Country'] = sf['Country'].apply(transform_country)
sf.show

<bound method SFrame.show of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   | United States |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>